.search__block{
  margin-top: 20px;
  border: 1px solid #F3F3F3;
  padding: 0px 18px;
  height: 45px;
  border-radius: 10px;
  img{
    padding-top: 12px;
  }
  input{
    padding-left: 13px;
    font-family: "Inter";
    background-color: white;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #0C0C0C;
    width: 220px;
    transition: width 0.3s ease;
    &::placeholder{
      color: #C4C4C4;
    }
    &:focus{
      outline: none;
      width: 300px;
    }
  }
}
