html{
  box-sizing: border-box;

}

*,
*::after,
*::before{
  box-sizing: inherit;
}

*{
  font-family: 'Inter', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

