.main{
  padding-bottom: 100px;
}

.container{
  padding: 0 45px;
}

.card__list_title{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}